# Function and Variable in Python:

---

A function is **a block of organized, reusable code** that is used to perform single and related action. It is **only runs when it is called**.

You can **pass data, known as parameters**, into a function.

A function can **return data as a result**.

---
**Return Statement** : The return statement terminates the execution of function and returns control to the calling function

**Creating a Function**

In Python a function is defined using the def keyword:

In [0]:
def my_function():
  print("Hello from a function")

**Calling a Function**

To call a function, use the function name followed by parenthesis:

In [2]:
def my_function():
  print("Hello from a function")
  
my_function()

Hello from a function

#Parameters

**Information can be passed to functions as parameter.**

Parameters are specified after the **function name, inside the parentheses ( )**. **You can add as many parameters as you want, just separate them with a comma ( , )**.
 
The following example has a function with one parameter (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [3]:
def my_function(fname):
  print(fname + "Refense")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

EmilRefense
TobiasRefense
LinusRefense

# Python Built-in Functions:

## abs() Function:

---

Parameters

 The abs() method takes a single argument:

num â€“ A number whose absolute value is to be returned. The number can be:
* integer
* floating number
* complex number

In [4]:
# random integer
integer = -20
print('Absolute value of -20 is:', abs(integer))

Absolute value of -20 is: 20

In [5]:
#random floating number
floating = -30.33
print('Absolute value of -30.33 is:', abs(floating))

Absolute value of -30.33 is: 30.33

## all() Function:

In [6]:
# all values true
l = [1, 3, 4, 5]
print(all(l))
 
# all values false
l = [0, False]
print(all(l))
 
# one false value
l = [1, 3, 4, 0]
print(all(l))
 
# one true value
l = [0, False, 5]
print(all(l))
 
# empty iterable
l = []
print(all(l))

True
False
False
False
True

## ascii() Function:

In [8]:
normalText = 'Python is interesting'
print(ascii(normalText))
 
otherText = 'Python is interesting'
print(ascii(otherText))
 
print('Pythn is interesting')

'Python is interesting'
'Python is interesting'
Pythn is interesting

## bin() Function:

In [9]:
number = 5
print('The binary equivalent of 5 is:', bin(number))

The binary equivalent of 5 is: 0b101

## bool() Function:

In [10]:
test = []
print(test,'is',bool(test))
 
test = [0]
print(test,'is',bool(test))
 
test = 0.0
print(test,'is',bool(test))
 
test = None
print(test,'is',bool(test))
 
test = True
print(test,'is',bool(test))
 
test = 'Easy string'
print(test,'is',bool(test))

[] is False
[0] is True
0.0 is False
None is False
True is True
Easy string is True

## compile() Function:

In [17]:
codeInString = 'a = 5'
b=6
sum=a+b
print("sum =", sum)

codeObejct = compile(codeInString, 'sumstring', 'exec')
 
exec(codeObejct)

sum = 11

## dict() Function:

In [18]:
numbers = dict(x=5, y=0)
print('numbers = ',numbers)
print(type(numbers))
 
empty = dict()
print('empty = ',empty)
print(type(empty))

numbers =  {'x': 5, 'y': 0}
<class 'dict'>
empty =  {}
<class 'dict'>

## enumerate() Function:

In [19]:
grocery = ['bread', 'milk', 'butter']
enumerateGrocery = enumerate(grocery)
 
print(type(enumerateGrocery))
 
# converting to list
print(list(enumerateGrocery))
 
# changing the default counter
enumerateGrocery = enumerate(grocery, 10)
print(list(enumerateGrocery))

<class 'enumerate'>
[(0, 'bread'), (1, 'milk'), (2, 'butter')]
[(10, 'bread'), (11, 'milk'), (12, 'butter')]

## eval() Function:

In [30]:
x = 1
y = eval('x + 1')
print(y)

2

## filter() Function:

In [31]:
# list of alphabets
alphabets = ['a', 'b', 'd', 'e', 'i', 'j', 'o']
 
# function that filters vowels
def filterVowels(alphabet):
    vowels = ['a', 'e', 'i', 'o', 'u']
 
    if(alphabet in vowels):
        return True
    else:
        return False
 
filteredVowels = filter(filterVowels, alphabets)
 
print('The filtered vowels are:')
for vowel in filteredVowels:
    print(vowel)

The filtered vowels are:
a
e
i
o

## getattr() Function:

In [32]:
class Person:
    age = 23
    name = "Adam"
 
person = Person()
print('The age is:', getattr(person, "age"))
print('The age is:', person.age)

The age is: 23
The age is: 23

## help() Function:

In [33]:
help('print')

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## id() Function:

In [34]:
class Foo:
    b = 5
 
dummyFoo = Foo()
print('id of dummyFoo =',id(dummyFoo))

id of dummyFoo = 139903010423192

## len() Function:

In [35]:
testList = []
print(testList, 'length is', len(testList))
 
testList = [1, 2, 3]
print(testList, 'length is', len(testList))
 
testTuple = (1, 2, 3)
print(testTuple, 'length is', len(testTuple))
 
testRange = range(1, 10)
print('Length of', testRange, 'is', len(testRange))

[] length is 0
[1, 2, 3] length is 3
(1, 2, 3) length is 3
Length of range(1, 10) is 9

## max() Function:

In [36]:
# using max(arg1, arg2, *args)
print('Maximum is:', max(1, 3, 2, 5, 4))
 
# using max(iterable)
num = [1, 3, 2, 8, 5, 10, 6]
print('Maximum is:', max(num))

Maximum is: 5
Maximum is: 10

## min() Function:

In [38]:
# using min(arg1, arg2, *args)
print('Minimum is:', min(1, 3, 2, 5, 4))
 
# using min(iterable)
num = [3, 2, 8, 5, 10, 6]
print('Minimum is:', min(num))

Minimum is: 1
Minimum is: 2

## oct() Function:

In [39]:
# decimal number
print('oct(10) is:', oct(10))
 
# binary number
print('oct(0b101) is:', oct(0b101))
 
# hexadecimal number
print('oct(0XA) is:', oct(0XA))

oct(10) is: 0o12
oct(0b101) is: 0o5
oct(0XA) is: 0o12

## pow() Function:

In [40]:
# positive x, positive y (x**y)
print(pow(2, 2))
 
# negative x, positive y
print(pow(-2, 2))
 
# positive x, negative y (x**-y)
print(pow(2, -2))
 
# negative x, negative y
print(pow(-2, -2))

4
4
0.25
0.25

## reversed() Function:

In [41]:
# for string
seqString = 'Python'
print(list(reversed(seqString)))
 
# for tuple
seqTuple = ('P', 'y', 't', 'h', 'o', 'n')
print(list(reversed(seqTuple)))
 
# for range
seqRange = range(5, 9)
print(list(reversed(seqRange)))
 
# for list
seqList = [1, 2, 4, 3, 5]
print(list(reversed(seqList)))

['n', 'o', 'h', 't', 'y', 'P']
['n', 'o', 'h', 't', 'y', 'P']
[8, 7, 6, 5]
[5, 3, 4, 2, 1]

## sum() Function:

In [0]:
numbers = [2.5, 3, 4, -5]
 
# start parameter is not provided
numbersSum = sum(numbers)
print(numbersSum)
 
# start = 10
numbersSum = sum(numbers, 10)
print(numbersSum)

## Type () Function:

In [55]:
numberList = [1, 2]
print(type(numberList))
 
numberDict = {1: 'one', 2: 'two'}
print(type(numberDict))
 
class Foo:
    a = 0
 
InstanceOfFoo = Foo()
print(type(InstanceOfFoo))

<class 'list'>
<class 'dict'>
<class '__main__.Foo'>

## recursive function

In [59]:
# An example of a recursive function to
# find the factorial of a number
 
def calc_factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""
 
    if x == 1:
        return 1
    else:
        return (x * calc_factorial(x-1))
 
num = 4
print("The factorial of", num, "is", calc_factorial(num))

The factorial of 4 is 24

## Lambda Function:

In [58]:
# Program to show the use of lambda functions
 
double = lambda x: x * 2
 
# Output: 10
print(double(5))

10

## User Define Function:

In [60]:
# Program to illustrate
# the use of user-defined functions
 
def add_numbers(x,y):
   sum = x + y
   return sum
 
num1 = 5
num2 = 6
 
print("The sum is", add_numbers(num1, num2))

The sum is 11