## append

---

In [1]:
a = [1,2,3,4,5]
a.append(6)
print(a)
#the output will have 6 at the end of the list.

[1, 2, 3, 4, 5, 6]

## clear

In [3]:
a = [1,2,3,4,5]
a.clear()
print(a)
#this will clear the list or empty the list.

[]

## copy

In [4]:
a = [1,2,3,4,5]
b = a.copy()
 
print(b)
#it makes the copy of the list.

[1, 2, 3, 4, 5]

## count

In [5]:
a = [1,1,1,3,3,3,4,4,4,4,5,5,5,5,5]
 
a.count(5)
#this will give the number of times 5 is present in the list.

5

## extend

In [7]:
a = [1,2,3,4,5]
 
a.extend(range(6,11))
print(a)
#this will add the values in this list from the iterable object range.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## insert

In [9]:
a = ['data analysis', 'python', 'data science']
 
a.insert(2,'artificial intelligence')
print(a)
#this will add the string at the index value 2

['data analysis', 'python', 'artificial intelligence', 'data science']

## index

In [11]:
a = ['data analysis', 'python', 'programming', 'data science', 'AI', 'machine learning']
 

print(a.index('data science'))
#this will get the index value at the string 'data science' which is 3.

3

## pop

In [14]:
a = [1,2,3,4,5]
 
print(a.pop())
#this will pop the value from the end of the list i.e 5. the list will no longer have 5 after this.
print(a)

5
[1, 2, 3, 4]

## remove

In [16]:
a = [1,2,3,4,11,5]
 
a.remove(11)
#this will remove 11 from the list.
print(a)

[1, 2, 3, 4, 5]

## reverse

In [20]:
a = [5,4,3,2,1]
 
a.reverse()
#this will reverse the list.
 
#another statement to reverse the list
a = a[: :-1]
print(a)

[5, 4, 3, 2, 1]

## sort

In [22]:
a = [3,1,2,6,4,5,9,6,7,8]
 
a.sort()
#you will get a sorted list as a result.
print(a)

[1, 2, 3, 4, 5, 6, 6, 7, 8, 9]

# Slicing A List In Python

---

Suppose you have a list with numbers from 0-10. But you only want to get the numbers from 5-10, you must not access all the elements typing the index values of all those numbers. Instead you can follow the approach in the code below.

In [27]:
a = [1,2,3,4,5,6,7,8,9,10]
 
a[4:11]
#this will get all the numbers starting from index 4 to index 11.

[5, 6, 7, 8, 9, 10]

In [28]:
a = [1,2,3,4,5,6,7,8,9,10]
a[-1:-6]
#this will get all the numbers from the index 11 to index 6.

[]

In [29]:
a = [1,2,3,4,5,6,7,8,9,10]
a[4:]
#this will print all the numbers starting from index 4 until the end of the list.

[5, 6, 7, 8, 9, 10]

In [30]:
a = [1,2,3,4,5,6,7,8,9,10]
a[:6]
#this will print all the numbers from index 0 until the index 6.

[1, 2, 3, 4, 5, 6]